@-webkit-keyframes pulse {
	0% {
		box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
	}
	50% {
		box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
	}
	100% {
		box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
	}
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
	}
	50% {
		box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
	}
	100% {
		box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
	}
}


@font-face {
	font-family: 'ModernPictogramsNormal';
	src: url('modernpics-webfont.eot');
	src: url('modernpics-webfont.eot?#iefix') format('embedded-opentype'),
		 url('modernpics-webfont.woff') format('woff'),
		 url('modernpics-webfont.ttf') format('truetype'),
		 url('modernpics-webfont.svg#ModernPictogramsNormal') format('svg');
	font-weight: normal;
	font-style: normal;

}

html {
	background: #682932 url(bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	        background-size: cover;
}

body {
	font: 22px/28px 'Helvetica Neue', Helvetica, Arial;
	color: #fff;
	text-rendering: optimizelegibility;
}

h1 {
	font-size: 60px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

p {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

a {
	color: #fff;
}

.container {
	margin-top: 200px;
	margin-left: 20%;
	max-width: 390px;
	-webkit-transition: all 0.4s;
	   -moz-transition: all 0.4s;
	        transition: all 0.4s;
}

.button {
	width: 320px;
	display: block;
	margin-top: 20px;
	text-align: center;
	text-decoration: none;
	padding: 10px 0 10px 20px;
	border-radius: 3px;
	color: #000;
	position: relative;
	font-size: 20px;
	font-weight: 800;
	text-shadow: 0 1px 1px rgba(255,255,255,0.5);
}

.button {
	box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.8);
}

.button-appstore {
	background-color: #9e6a66;
	background: -webkit-linear-gradient(top, rgba(199, 142, 138, 0.2), rgba(158, 106, 102, 1));
	background:    -moz-linear-gradient(top, rgba(199, 142, 138, 0.2), rgba(158, 106, 102, 1));
	background:         linear-gradient(top, rgba(199, 142, 138, 0.2), rgba(158, 106, 102, 1));
	border: 1px solid rgba(155, 101, 99, 0.6);
	-webkit-animation: pulse 2s infinite ease-in-out;
	        animation: pulse 2s infinite ease-in-out;
}

.button-appstore small:before {
	content: 'O';
	position: absolute;
	font: 50px/1 'ModernPictogramsNormal', Helvetica, sans-serif;
	top: 2px;
	left: 15px;
}

.credit {
	font-size: 13px;
	opacity: 0.6;
	-webkit-transition: opacity 0.5s ease-in-out;
	   -moz-transition: opacity 0.5s ease-in-out;
	        transition: opacity 0.5s ease-in-out;
}

.credit:hover {
	opacity: 1.0;
}

.screenshot {
	display: none;
	width: 100%;
}

@media (max-width: 1700px) {
	.container {
		margin-left: 10%;
	}
}

@media (max-width: 1300px) {
	.container {
		margin-left: 10px;
	}
}

@media (max-width: 1000px) {
	.container {
		margin-top: 10px;
	}
}

@media (max-width: 840px) {
	html {
		background: #682932 url(bg.jpg) no-repeat top right;
	}

	h1 {
		font-size: 50px;
	}

	.container {
		margin: 0 20px;
		position: absolute;
		top: 0;
		right: 0;
	}

	.button-appstore {
		background: -webkit-linear-gradient(top, rgb(199, 142, 138), rgb(158, 106, 102));
		background:    -moz-linear-gradient(top, rgb(199, 142, 138), rgb(158, 106, 102));
		background:         linear-gradient(top, rgb(199, 142, 138), rgb(158, 106, 102));
	}
}

@media (max-width: 480px) {
	.screenshot {
		display: block;
	}
}
